<!-- Lab 1,2,3,4 teraz :7 -->
<!--modyfikacja styli CSS o całe ciało z containerem łącznie. Zmiana koloru i dodanie sekcji do czcionki oraz jej koloru oraz rodziny  ------------ CSS-->

<!--html utworzenie ciala, do dzialania w odnosniku style CSS oraz odanie informacji odnośnie projektu - tematyczne działanie na strone + działania mające na celu scalenie obrzków o skale 1920x1080 / 1080p.-->

<!--terści zadań :

 

-->

<!DOCTYPE html>
<html lang="en" ng-app="portfolioApp">
  <head>
    <title>Patryk Pieczarka OS/ALL</title>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    <script type="text/javascript" src="form.js"></script>
    <script src="angular.min.js"></script>
    <script src="controllers.js"></script> 
  </head>
<body>
<!-- nawigacja strony WWW --> 
<!-- strona - do ciała / odnisienie -->
<body id="cialo">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" ariaexpanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
        <a class="navbar-brand" href="#">
          <div id="logo">
            <img src="logo.png" alt="logo - obrazek">
          </div>
        </a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse-1">
        <ul class="nav navbar-nav text-right">
          <li class="active"><a href="#main-page"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Strona główna</a></li>
          <li><a href="#page1"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> Wiadomości</a></li>
          <li><a href="#page3"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span> Galeria</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> Kontakt</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-barcode" aria-hidden="true"></span> Sklep</a></li>
          <li><a href="#page2"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Formularz</a></li>
          
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="http://127.0.0.1:5000/"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          <li><script type="text/JavaScript" src="http://www.free4u.pl/data_godzina.php?co=godzina"></script></li>
        </ul>
      </div>
    </div>
  </nav>
<!-- opakowanie - cała strona odnosnik do style . css -->
<header>
  <div class="container">
    <div id="carouselID" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselID" data-slide-to="0"class="active"></li>
          <li data-target="#carouselID" data-slide-to="1"></li>
          <li data-target="#carouselID" data-slide-to="2"></li>
          <li data-target="#carouselID" data-slide-to="3"></li>
          <li data-target="#carouselID" data-slide-to="4"></li>
        </ol>

<!--  obrazki oraz tytuly - odnosnik do diva  -->

        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img src="1a.jpg" alt="Windows10">
            <div class="carousel-caption">Windows10/ Home x64</div>
          </div>
          <div class="item">
            <img src="2a.jpg" alt="Windows8">
            <div class="carousel-caption">Windows8/ PRO x64</div>
          </div>
          <div class="item">
            <img src="3a.jpg" alt="Windows7">
            <div class="carousel-caption">Windows7/ Home x64</div>
          </div>
          <div class="item">
            <img src="5a.png" alt="Ububtu/UNIX 20.1.2. LTS">
            <div class="carousel-caption">Ububtu/UNIX 20.1.2. LTS</div>
          </div>
          <div class="item">
            <img src="4a.png" alt="MacOS">
            <div class="carousel-caption">MacOS/ Sierra</div>
          </div>
        </div>
          <!-- przycisk do przelaczania obrazkow  -->

        <a class="left carousel-control" href="#carouselID" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" ariahidden="true"></span>
          <span class="sr-only">Poprzedni</span>
        </a>

        <a class="right carousel-control" href="#carouselID" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" ariahidden="true"></span>
          <span class="sr-only">Następny</span>
        </a> 
    </div> 
  </div>
</header>
 <!-- 1sekcja do strony glownej  -->
 <section id="main-page" class="jumbotron alert alert-danger" role="alert">
  <div class="container">
    <h1 id="nagl"><span class="glyphicon glyphicon-home" aria-hidden="true" id="ikonaduza"></span> STRONA GŁÓWNA</h1>
    <p style="color:#ffffff; ">
      
      <p>
        Tematem przewodnim tejże strony internetowej jest rodzina systemów, które obsługują wysoko wysublimowane systemy informatyczne w wielkich korporacjach.
        Wiele informacji, które to Państwo uzyskają z tej witryny pochodzi z bazy wiedzy nie tylko założycieli fora, ale również podstawowych wieści i nowinek technicznych,
        z zakresu szerokopojętego systemu informatycznego.
        
      </p>
    </div>
</section>
  
<!-- levy div main menu -->
<div class="container text-center">    
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <p><a href="https://pl.wikipedia.org/wiki/Windows_10">Windows10</a></p>
      <p><a href="https://pl.wikipedia.org/wiki/Windows_8">Windows8</a></p>
      <p><a href="https://pl.wikipedia.org/wiki/Windows_7">Windows7</a></p>
      <p><a href="https://pl.wikipedia.org/wiki/Ubuntu">UNIX/Ubuntu LTS</a></p>
      <p><a href="https://pl.wikipedia.org/wiki/MacOS_Sierra">MacOS/Sierra</a></p>
      <p><a href="https://pl.wikipedia.org/wiki/Microsoft">Microsoft - synteza</a></p>
      <p><a href="https://pl.wikipedia.org/wiki/System_uniksopodobny">UNIX - synteza</a></p>
      <p><a href="https://pl.wikipedia.org/wiki/MacOS">MacOS - synteza</a></p>
    </div>
    <!-- centre div main menu (tabela - zadanie 1 lab) -->
    <div class="col-sm-8 text-left"> 
      <h1 class="text-danger">Cześć, oto nasi moderatorzy 
        !:)</h1>
      <table class="table">
            <tr>
                <td rowspan="2">L.p.</td>
                <td colspan="2">Osoba</td>
                <td rowspan="2">Tytuł naukowy</td>
            </tr>
            <tr>
                <td>Imie</td>
                <td>Nazwisko</td>
            </tr>
            <tr>
                <td>1.</td>
                <td>Patryk</td>
                <td>Pieczarka</td>
                <td>techn.</td>
            </tr>
            <tr> 
                <td>2.</td>
                <td>Marcin</td>
                <td>Marenquoes</td>
                <td>dr inż.</td>
            </tr>
            <tr>
                <td>3.</td>
                <td>Robert</td>
                <td>Leszczyński</td>
                <td>mgr inż.</td>
            </tr>
            <tr>
                <td>4.</td>
                <td>Marcin</td>
                <td>Pakulski</td>
                <td>dr hab. prof. (PG)</td>
            </tr>
        </table>
    </div>
    <div class="col-sm-2 sidenav">
      <div class="well">
        <p>Facebook</p>
      </div>
      <div class="well">
        <p>Instagram</p>
      </div>
      <div class="well">
        <p>Discord</p>
      </div>
    </div>
  </div>
</div>
<!-- sekcja wiadomosci -->
<section id="page1">
  <div class="container">
    <h1 class="text-danger" id="nagl"><span class="glyphicon glyphicon-globe" aria-hidden="true" id="ikonaduza"> </span>WIADOMOŚCI</h1>
    <p>
      Systemy operacyjne to podstawowe oprogramowanie pozwalające zarządzać pracą komputera lub serwera. 
      W zależności od zakresu wykorzystania poszczególnych funkcji, a także miejsca, 
      w którym korzystamy z komputera powinniśmy wybrać odpowiednią wersję systemu oraz typ licencjonowania.
      oprogramowanie zarządzające systemem komputerowym, tworzące środowisko do uruchamiania i kontroli zadań. 
      W celu uruchamiania i kontroli zadań użytkownika system operacyjny zajmuje się: planowaniem oraz przydziałem czasu procesora poszczególnym zadaniom,;
      kontrolą i przydziałem pamięci operacyjnej dla uruchomionych zadań,
    </p>    
  </div>
</section>

<div class="container">
<div class="row">
  <div class="col-sm-4 text-center">
    <img src="1.jpg" class="img-circle center-block img-responsie" alt="Kwadrat" height=200 width=200>
    <h3 class="text-success" >Microsoft</h3>
  </div>
  <div class="col-sm-4 text-center">
    <img src="2.jpg" class="img-circle center-block img-responsie" alt="Kwadrat" height=200 width=200>
    <h3 class="text-info">Linux</h3>
  </div>
  <div class="col-sm-4 text-center">
    <img src="3.jpg" class="img-circle center-block img-responsie" alt="Kwadrat" height=200 width=200>
    <h3 class="text-danger">MacOS</h3>
  </div>
</div> 
</div>
<!--galeryjka   laboratorium 6 i 7 ! -->
<section ng-controller="GalleryListCtrl" id="page3">
  <div class="container">
    <h1 class="text-danger" id="nagl"><span class="glyphicon glyphicon-picture" aria-hidden="true" id="ikonaduza"></span> Galeria</h1>
    <p>
      Najważniejsze systemy Windows w historii. Umieszczone zostały ku pamięci i podstawie, na czym obecnie pracujemy. Jest możliwość sprzawdzenia w wyszukierace, kiedy i co zostało stworzone. 
      Proszę nie zapominać, iż jest możliwość posortowania - chronologicznie, alfabetycznie jak i również od najnowszych do najstarszych. Te rodzaje filtrowania proponujemy. Jeśli chcesz wyszukać daną frazę galerii,
      to dodaj proszę tekst, a się ona ukaże. <br>(na chwilę obecną znajduje się 6 fraz - do rozbudowy przez Naszych moderatorów). 
    </p>    
  </div>
</section>
    
<div class="container" ng-controller="GalleryListCtrl">
  <div class="row content text-center">
      <label>Wyszukaj: </label>
      <p><input type="text" ng-model="query" class="form-control"><p>
      <p ng-if="query"><b>Wyniki wyszukiwania dla:</b> {{query}}</p>
      <span ng-if="query == null">
        <p><b>Ilość elementów:</b> {{galleries.length}}</p> 
      </span>
      <hr>
      <label>Sortuj: </label>
      <select ng-model="orderProp" ng-options="sort as sort.label for sort in sortList" class="form-control">
          <option value="title">Alfabetycznie</option>
          <option value="when">Chronologicznie</option>
          <option value="-when">Od Najnowszych</option>
      </select>
      <p ng-if="orderProp"><b>Galerie ułożone:</b> {{orderProp.label}}</p>
      <p></p>
    <div class="col-sm-4" ng-repeat="gallery in galleries | filter: query | orderBy: orderProp.value"> 
      <img src="{{gallery.thumbnailUrl}}" class="img-responsive center-block" alt="" height=200 width=350>
      <h3>{{gallery.title}}</h3>
      <p><strong>Kiedy:</strong> {{gallery.when}}</p>
    </div>
  </div>
</div> 


 <!-- laboratorium 4 skrypt oraz formularz zgłoszeniowy na strone ww JS -->
 <section id="page2">
  <div class="container">
    <h1 class="text-danger" id="nagl"><span class="glyphicon glyphicon-pencil" aria-hidden="true" id="ikonaduza"></span> FORMULARZ KONTAKTOWY</h1>
    <form action="index.html#kontakt" method="post" onsubmit="return checkForm();" >
              <form action="indeks.html#kontakt" method=POST onsubmit="return checkForm();">
          <span class="glyphicon glyphicon-sort"></span>
          <fieldset>
          <legend>Formularz kontaktowy</legend>
          <div class="form-group">
            <p id="errorName" class="hide">Podanie imienia jest wymagane!</p>
          </div>
          <label for="contactName">Imię</label> <input type="text" id="contactName" class="form-control" onchange="onchangeimie()" onblur="onblurimie()"/>
          <div class="form-group">
            <p id="errorSurName" class="hide">Podanie nazwiska jest wymagane!</p>
          </div>
          <label for="contactSurName">Nazwisko</label> <input type="text" id="contactSurName" class="form-control" onblur="onblurnazwisko()" onchange="onchangenazwisko()"/>
          <div class="form-group">
            <p id="errorEmail" class="hide">Podanie emaila jest wymagane!</p>
            <p id="errorFormaEmail" class="hide">Zły format emaila!</p>
          </div>
          <label for="contactEmail">Email</label> <input type="text" id="contactEmail" class="form-control" onblur="onbluremail()" onchange="onchangeemail()"/>
          <div class="form-group">
            <p id="errorInformacja" class="hide">Podanie informacji o przyczynie kontaktu jest wymagane!</p>
          </div>
          <label for="contactInformacja">Informacja</label> <textarea id="contactInformacja" maxlength="250" class="form-control" onblur="onblurinformacja()" onchange="onchangeinformacja()"></textarea>

          <button type="submit" class="btn btn-primary">Wyślij</button>
          </fieldset>
    </form>     
  </div>
</section>



<!-- stopka -->
<footer class="container text-center">
    <div class="container">
      <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal">
         Polityka prywatności
      </button> 
    </div> 
</footer>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" arialabel="Close"><span ariahidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">POLITYKA PRYWATNOŚCI</h4>
      </div>
      <!-- polityka prywatonsci + przepis -->
      <div class="modal-body">
        „Wszelkie informacje na temat osoby przechowywane przez agencję, w tym (1) wszelkie informacje, które można wykorzystać do odróżnienia lub śledzenia tożsamości osoby, takie jak imię i nazwisko, numer ubezpieczenia społecznego, data i miejsce urodzenia, panieńskie nazwisko matki lub zapis biometryczny; oraz (2) wszelkie inne informacje, które są powiązane lub mogłyby być powiązane z daną osobą, takie jak informacje medyczne, edukacyjne, finansowe i dotyczące zatrudnienia”.

        „Dane nieprywatne” definiuje się jako:
        
        „Informacje, które mogą korespondować z konkretną osobą, kontem lub profilem, ale nie są wystarczające do zidentyfikowania, skontaktowania się lub zlokalizowania osoby, której te informacje dotyczą”.
      </div> 
      <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div> 
    </div>
  </div>
</div> 

</body>
</html>
