{% extends "baza.html" %}  

{% block content %}
	<h1>{{tytul}}</h1>
	<p class="lead">{{tresc}}</p>
	<h3>Poniżej znajdują się pracownicy, którzy są dodadni do bazy.</h3>
	<img src="pracowniklog.png" alt="dodaj" width="400" height="300"> <br>
	<table border = 1>
		<thead>
			<td>Imię i nazwisko</td>
			<td>Numer pracownika</td>
			<td>Adres</td>
		</thead>

		{% for rekord in rekordy %}
			<tr>
				<td>{{rekord["imienazwisko"]}}</td>
				<td>{{rekord["nrpracownika"]}}</td>
				<td>{{rekord["adres"]}}</td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}